.view-user1{
    display: flex;
    width: 50%;
}
.view-user2{
    display: flex;
    width: 50%;
}
.view-user{
    display: flex;
    line-height: 4;
    font-size: 12px;
}
.user-keys{
    width: 50%;
}
.remove-button{
    border: none;
background: #5b5bff;
color: wheat;
width: 40%;
font-weight: 400;
font-size: 13px;
margin-top: 8px;
}
.user-id-ban label{
    display: flex;
    flex-direction: column;
}
.user-id-ban select{
    border: 1px solid black;
background: white;
padding: 10px;
}
.user-badges label{
    display: flex;
    flex-direction: column;
}
.user-badges select{
    border: 1px solid black;
background: white;
padding: 10px;
}
.live-hotlist label{
    display: flex;
    flex-direction: column;
}
.live-hotlist select{
    border: 1px solid black;
background: white;
padding: 10px;
}
.user-live label{
    display: flex;
    flex-direction: column;
}
.user-live select{
    border: 1px solid black;
background: white;
padding: 10px;
}
.user-deviceid-ban label{
    display: flex;
    flex-direction: column;
}
.user-deviceid-ban select{
    border: 1px solid black;
background: white;
padding: 10px;
}

/* Toggle button  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #BF00ED;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #BF00ED;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }